@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

$typography-font-family: 'Noto Sans Thai', sans-serif !default;

$primary: #1368bd;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #009688;
$negative: #f44336;
$info: #31ccec;
$warning: #f2c037;
